@mixin font ($size: false, $lh: false, $weight: false, $color: false) {
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $color { color: $color; }
}

@mixin container {
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    padding: 0 50px;
  }

}
