$bg-color-green-1: #63d1bb;
$bg-color-green-2: #56c3b2;
$bg-color-white: #fff;
$bg-color-gray: #f1f1f1;
$bg-color-gray-light: #ededed;
$bg-color-gray-bottom: #e5e5e5;
$bg-color-gray-table: #ececec;
$text-color-black: #000;
$text-color-gray-light: #c7c7c7;
$text-color-gray-dark: #444;

$mobile: "(min-width: 320px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
