.about-us {}

.about-us__wrapper {
  @include width-mobile;
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;

  @media ( $tablet ) {
    @include width-tablet;
    margin-top: 60px;
  }

  @media ( $desktop ) {
    width: 700px;
    margin-top: 100px;
  }

}

.about-us__title {
  @include font (25px, 30px, bold);

  @media ( $tablet ) {
    @include font (43px, 50px, bold);
  }

}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
}

.about-us__item {

  @media ( $tablet ) {
    width: 50%;

    &:nth-child(1),
    &:nth-child(4) {
      order: 1;
    }

    &:nth-child(2),
    &:nth-child(5) {
      order: 2;
    }

    &:nth-child(3),
    &:nth-child(6) {
      order: 3;
    }

  }

}

.about-us__img {
  display: block;
  margin: 0 auto;
}

.about-us__img--box {
  width: 55px;
  height: 38px;
}

.about-us__text {
  @include font (17px, 20px, bold);

  @media ( $tablet ) {
    @include font (20px, 22px, bold);
    width: 295px;
  }

}
