.about {
  margin-bottom: 50px;

  &::before {
    content: "";
    width: 100%;
    height: 7px;
    display: block;
    background-image: url("/img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
    margin-bottom: 27px;
  }

  @media ( $tablet ) {
    margin-bottom: 60px;

    &::before {
      height: 17px;
      margin-bottom: 50px;
    }

  }

  @media ( $desktop ) {
    margin-bottom: 65px;

    &::before {
      height: 23px;
      margin-bottom: 60px;
    }

  }

}

.about__inner {
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  @include container;

  @media ( $desktop ) {
    padding: 0 225/1150*100%;
  }

}

.about__title {
  @include font (25px, 30px, bold);
  margin: 0;

  @media ( $tablet ) {
    @include font (43px, 50px, bold);
    margin-bottom: 20px;
  }

  @media ( $desktop ) {
    @include font (53px, 57px, bold);
  }

}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;

  @media ( $tablet ) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

.about__item {
  @include font (17px, 20px, bold);
  padding-top: 52px;
  position: relative;
  margin-top: 32px;

  &--materials svg {
    position: absolute;
    top: 0;
    left: 5px;
    width: 33px;
    height: 38px;
  }

  &--style svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 27px;
  }

  &--like svg {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 34px;
    height: 27px;
  }

  &--manual svg {
    position: absolute;
    top: 0;
    left: 5px;
    width: 35px;
    height: 34px;
  }

  &--support svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 23px;
  }

  &--box svg {
    position: absolute;
    top: 0;
    left: 5px;
    width: 33px;
    height: 32px;
  }

  @media ( $tablet ) {
    width: 50%;
    @include font (20px, 22px, bold);
    margin-bottom: 26px;
  }

}


@media ( $tablet ) {
  .about__item:nth-child(1) {
    order: -8;
  }

  .about__item:nth-child(4) {
    order: -7;
  }

  .about__item:nth-child(2) {
    order: -6;
  }

  .about__item:nth-child(5) {
    order: -5;
  }

}
