.btn {
  display: inline-block;
  padding: 15px 0;
  border: 2px solid $contacts-text;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  background-color: $bgcolor;
  @include font (17px, 20px, bold, $contacts-text);
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: $contacts-text;
    color: $bgcolor;
  }

  &:active {
    color: $btn-active;
  }

}
