.btn {
  width: 259px;
  height: 52px;
  border: 2px solid $text-color-gray-dark;
  background-color: $bg-color-white;
  text-transform: uppercase;
  @include f17h20b;
  cursor: pointer;
  margin: 40px 32px;

  &--modal {
    background-color: $bg-color-green-1;
    border: 2px solid $bg-color-green-1;
    color: $bg-color-white;
  }

}
