.catalog {
  @include width-mobile;

  @media ( $tablet ) {
    @include width-tablet;
  }

  @media ( $desktop ) {
    @include width-desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

}

.catalog__item {
  margin-top: 30px;

  @media ( $tablet ) {
    display: flex;
  }

  @media ( $desktop ) {
    flex-direction: column;
  }

}

.catalog__img {

  &-mobile {
    display: block;

    @media ( $tablet ) {
      display: none;
    }

  }

  &-tablet {
    display: none;

    @media ( $tablet ) {
      display: block;
    }

    @media ( $desktop ) {
      display: none;
    }

  }

  &-desktop {
    display: none;

    @media ( $desktop ) {
      display: block;
    }

  }

}

.catalog__item-wrapper {
  border: 1px solid $bg-color-gray-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media ( $tablet ) {
    width: 50%;
    min-height: 332px;
    margin-top: 0px;
  }

  @media ( $desktop ) {
    width: 315px;
    min-height: 220px;
  }

}

.catalog__item-cart {
  @include width-mobile;
}

.catalog__item-name {
  @include font (17px, 24px, bold);
  margin-left: 28px;

  @media ( $tablet ) {
    @include font (20px, 24px, bold);
    margin-left: 0px;
    width: 235px;
  }

}

.catalog__item-description {
  @include font (13px, 30px, normal, $text-color-gray-dark);
  margin-left: 28px;
  margin-top: -10px;
  padding-bottom: 10px;
  width: 202px;

  @media ( $tablet ) {
    width: 270px;
    @include font (15px, 30px);
    margin-left: 0px;
  }

  @media ( $desktop ) {
    width: 255px;
  }

}

.catalog__item-cost {
  @include width-mobile;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 202px;
  border-top: 1px solid $bg-color-gray-light;

  @media ( $tablet ) {
    width: 270px;
  }

}

.catalog__item-price {
  @include font (15px, 24px, bold);
  padding-top: 10px;
  padding-bottom: 10px;

  @media ( $tablet ) {
    @include font (17px, 24px, bold);
  }

}
