.contacts {}

.contacts__wrapper {

  @media ( $tablet ) {
    background: url("/img/icon-flag.svg") no-repeat;
    background-position-x: 670px;
  }

  @media ( $desktop ) {
    background: url("/img/icon-flag.svg") no-repeat;
    background-position-x: 63px;
    @include width-desktop;
  }

}

.contacts__title {
  @include width-mobile;
  @include f18h30b;

  @media ( $tablet ) {
    @include width-tablet;
    @include f43h50b;
    margin-top: 50px;
    margin-bottom: 67px;
  }

  @media ( $desktop ) {
    @include width-desktop;
    @include f53h57b;
    margin-left: 175px;
    margin-top: 160px;
    margin-bottom: 67px;
  }

}

.contacts__table {
  @include width-mobile;
  margin-bottom: 20px;

  @media ( $tablet ) {
    @include width-tablet;
  }

  @media ( $desktop ) {
    @include width-desktop;
    margin-left: 175px;
  }

}

.contacts__row {
  height: 40px;

  @media ( $tablet ) {
    width: 334px;
    display: table-cell;
  }

  @media ( $desktop) {
    width: 350px;
    display: table;
    margin-bottom: 30px
  }

}

.contacts__data-left {
  width: 78px;
  @include f15h30;
  color: $text-color-gray-dark;
  vertical-align: top;

  @media ( $tablet ) {
    @include f17h30;
  }

}

.contacts__data-right {
  @include f15h30;
  color: $text-color-gray-dark;

  @media ( $tablet ) {
    @include f17h30;
  }

  &--email {
    width: 177px;
    border-bottom: 1px solid $bg-color-green-1;
  }

  &--adress {
    width: 140px;

    @media ( $tablet ) {
      width: 200px;
    }

  }

}

.contacts__map {

  &--mobile {
    display: none;

    @media ( $mobile ) {
      display: block;
    }
  }

  &--tablet {
    display: none;

    @media ( $tablet ) {
      display: block;
      margin-top: 65px;
    }

    @media ( $desktop ) {
      display: none;
    }

  }

  &--desktop {
    display: none;

    @media ( $desktop ) {
      display: block;
      float: right;
      margin-top: -340px;
      margin-right: 0px;
    }

  }

}
