.contacts {

  &__wrapper {}

  &__title {
    @include width-mobile;
    @include f18h30b;
  }

  &__table {
    @include width-mobile;
    margin-bottom: 20px;
  }

  &__row {
    height: 40px;
  }

  &__data-left {
    width: 78px;
    @include f15h30;
  }

  &__data-right {
    @include f15h30;

      &--email {
        width: 177px;
      }

      &--adress {
        width: 140px;
      }

  }

  &__map {

    &--mobile {}

    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }

  }

}

@media (min-width: 768px) {
  .contacts {

    &__wrapper {}

    &__title {
      @include width-tablet;
    }

    &__table {}

    &__row {}

    &__data-left {}

    &__data-right {

        &--email {}

        &--adress {}

    }

    &__map {

      &--mobile {
        display: none;
      }

      &--tablet {
        display: block;
      }

      &--desktop {
        display: none;
      }

    }

  }

}

@media (min-width: 1200px) {
  .contacts {

    &__wrapper {}

    &__title {
      @include width-desktop;
    }

    &__table {}

    &__row {}

    &__data-left {}

    &__data-right {

        &--email {}

        &--adress {}

    }

    &__map {

      &--mobile {
        display: none;
      }

      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }

    }

  }

}
