.features {
  margin-bottom: 35px;
  @include container;

  @media ( $tablet ) {
    margin-bottom: 50px;
  }

  @media ( $desktop ) {
    margin-bottom: 70px;
  }

}

.features__inner {

  @media ( $tablet ) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media ( $desktop ) {
    position: relative;
  }

}

.features__title-wrap {

  @media ( $tablet ) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-end;
    width: 100%;
  }

  @media ( $desktop ) {
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    margin-bottom: 50px;
  }

}

.features__title {
  @include font (25px, 30px, bold);
  padding-top: 5px;
  margin-bottom: 5px;

  @media ( $tablet ) {
    @include font (43px, 50px, bold);
    margin-bottom: 0;
  }

  @media ( $desktop ) {
    @include font (53px, 57px, bold);
  }

}

.features__week {
  @include font (17px, 20px, bold, $feature-week);
  text-transform: uppercase;
  margin-bottom: 25px;

  & br {
    display: none;
  }

  @media ( $tablet ) {
    @include font (17px, 20px, bold);
    text-align: center;
    margin-bottom: 0;
    margin-right: 25px;

    & br {
      display: block;
    }

  }

  @media ( $desktop ) {
    width: 175/1050*100%;
    margin-right: 0;
    margin-top: 55px;
  }

}

.features__description-wrap {

  @media ( $tablet ) {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    padding-right: 44px;
    box-sizing: border-box;
  }

  @media ( $desktop ) {
    padding-left: 175/1050*100%;
    padding-right: 57px;
    position: static;
  }

}

.features__description {

  @media ( $tablet ) {
    display: flex;
    flex-direction: column;
    min-height: 270px;
    justify-content: flex-start;
  }

  @media ( $desktop ) {
    min-height: 306px;
  }

}

.features__text {
  @include font (15px, 24px, normal, $contacts-text);
  margin: 0;
  margin-bottom: 15px;

  @media ( $tablet ) {
    @include font (17px, 30px, normal);
  }

}

.features__table {
  @include font (15px, 20px, normal, $contacts-text);
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;

  @media ( $tablet ) {
    @include font (15px, 20px, normal);
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media ( $desktop ) {
    margin-top: 30px;
  }

}

.features__row {
  box-sizing: border-box;
  border-bottom: 1px solid $feature-table;
}

.features__cell {
  padding: 10px 0;

  &--name {
    width: 38%;

    @media ( $tablet ) {
      width: 33%;
    }

  }

}

.features__image {
  margin: 0 auto;
  width: 260px;

  @media ( $tablet ) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: -1;
    width: 100%;
    min-height: 404px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0;

    & img {
      height: 404px;
      width: auto;
    }

  }

  @media ( $desktop ) {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;

    & img {
      height: 636px;
    }

  }

}

.features__price {
  @include font (17px, 24px, bold, $contacts-text);
  padding: 20px 0;
  text-align: center;

  @media ( $tablet ) {
    @include font (20px, 24px, bold);
    margin-top: 10px;
    margin-bottom: 14px;
  }

  @media ( $desktop ) {
    margin-top: 40px;
  }

}
