.main-nav {
  width: 100%;
  position: absolute;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
    position: static;
  }

  @media ( $tablet ) {
    position: static;

    &--closed {
      display: block;
    }

  }

  @media ( $desktop ) {
    display: flex;
    justify-content: space-between;
  }

}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $bgcolor;

  @media ( $tablet ) {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100%;
    background-color: transparent;
    z-index: 10;
  }

  @media ( $desktop ) {
    position: static;
  }

}

.main-nav__user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $bgcolor;

  @media ( $tablet ) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include font (17px, 24px, bold);
  }

}

.main-nav__link {
  display: block;
  border-bottom: 1px solid $feature-table;
  text-decoration: none;
  padding: 30px 30px 30px 76px;
  @include font (17px, 24px, bold, $catalog-item-name);
  position: relative;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  @media ( $tablet ) {
    border: 0;

    &--catalog {
      @include font (15px, 24px, bold);
      margin-left: 50px;
      padding: 22px 0;
      width: 167px;
    }

    &--form {
      @include font (15px, 24px, bold);
      padding: 22px 0;
      width: 167px;
    }

    &--search {
      font-size: 0;
      width: 85px;
      border-left: 1px solid $feature-table;
      padding-left: 0;
      padding-right: 0;
    }

    &--basket {
      padding-left: 80px;
      padding-right: 50px;
      border-left: 1px solid $feature-table;
    }

  }

  @media ( $desktop ) {

    &--catalog {
      @include font (17px, 24px, bold);
      margin: 0;
      padding: 30px 18px 30px 50px;
      border-right: 1px solid $feature-table;
    }

    &--form {
      @include font (17px, 24px, bold);
      margin: 0;
      padding: 30px 32px;
    }

  }

}

.main-nav__link--search::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 30px;
  width: 18px;
  height: 19px;
  background: url("/img/icon-search.svg") no-repeat;
  opacity: 0.2;
}

.main-nav__link--basket::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 30px;
  width: 21px;
  height: 18px;
  background: url("/img/icon-cart.svg") no-repeat;
  opacity: 0.2;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: 0;
  outline: 0;
  background-color: $bgcolor;

  &--nojs {
    display: none;
  }

  @media ( $tablet ) {
    display: none;
  }

}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 14px;
  background: url("/img/icon-menu-open.svg") no-repeat;
  transition: 0.3s;
}

.main-nav__toggle--opened::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("/img/icon-menu-close.svg") no-repeat;
  transition: 0.3s;
  box-shadow: none;
}
