.main-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
    position: static;
  }

  @media ( $tablet ) {
    position: static;

    &--closed {
      display: block;
    }

  }

  @media ( $desktop ) {
    display: flex;
    justify-content: space-between;
  }

}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $bgcolor;

  @media ( $tablet ) {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100%;
    left: 50px;
    background-color: transparent;
    z-index: 10;
  }

  @media ( $desktop ) {
    position: static;
  }

}

.main-nav__user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $bgcolor;

  @media ( $tablet ) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

}

.main-nav__item {

  @media ( $tablet ) {
    display: flex;
  }

}

.main-nav__link {
  display: block;
  border-bottom: 1px solid $feature-table;
  text-decoration: none;
  padding: 27px 27px 27px 76px;
  @include font (17px, 24px, bold, $catalog-item-name);
  position: relative;
  margin: 0;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  @media ( $tablet ) {
    border: none;
    word-wrap: break-word;

    &--catalog {
      @include font (15px, 24px, bold);
      margin-left: 50px;
      padding: 18px 0;
      width: 167px;
      margin: 0;
    }

    &--form {
      @include font (15px, 24px, bold);
      padding: 18px 0;
      width: 167px;
    }

    &--search {
      font-size: 0;
      width: 82px;
      border-left: 1px solid $feature-table;
      padding: 32px 0;
    }

    &--basket {
      padding: 32px 50px 32px 83px;
      border-left: 1px solid $feature-table;
      width: 182px;
    }

  }

  @media ( $desktop ) {

    &--catalog {
      @include font (17px, 24px, bold);
      margin: 0;
      padding: 32px 18px 32px 50px;
      border-right: 1px solid $feature-table;
    }

    &--form {
      @include font (17px, 24px, bold);
      margin: 0;
      padding: 32px 32px;
    }

  }

}

.main-nav__link--search svg {
  position: absolute;
  top: 33px;
  left: 33px;
  width: 18px;
  height: 19px;
  opacity: 0.2;
  fill: $link-svg;
}

.main-nav__link--basket svg {
  position: absolute;
  top: 33px;
  left: 31px;
  width: 21px;
  height: 18px;
  opacity: 0.2;
  fill: $link-svg;
}

.main-nav__link--search:hover svg,
.main-nav__link--basket:hover svg {
  fill: $feature-week;
  opacity: 1;
}

.main-nav__link--search:active svg,
.main-nav__link--basket:active svg {
  opacity: 0.3;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: 0;
  outline: 0;
  background-color: $bgcolor;

  &--nojs {
    display: none;
  }

  @media ( $tablet ) {
    display: none;
  }

}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  transition: 0.3s;
  background-color: $catalog-item-name;
  box-shadow: 0 6px 0 0 $catalog-item-name,
              0 12px 0 0 $catalog-item-name;
}

.main-nav__toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 22px;
    height: 2px;
    background-color: $catalog-item-name;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}
