.order {
  margin-bottom: 50px;

  @media ( $tablet ) {
    margin-top: 70px;
  }

  @media ( $desktop ) {
    margin-top: 128px;
    margin-bottom: 45px;
  }

}

.order__form {
  max-width: $max-width;
  margin: 0 auto;
}

.order__form-wrap {
  @include container;

  @media ( $desktop ) {
    margin-right: 176/1150*100%;
  }

}

.order__desc {
  @include font (13px, 24px, normal);
  margin: 0;
  margin-bottom: 23px;

  @media ( $tablet ) {
    @include font (17px, 30px, normal);
  }

  @media ( $desktop ) {
    margin-left: 230/1150*100%;
  }

}

.order__category-inner {
  @include container;

  @media ( $tablet ) {
    display: flex;

    &--wrap {
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0;
    }

    &--submit {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

  }

  @media ( $desktop ) {
    margin-right: 176/1150*100%;

    &--color {
      margin-right: 0;
    }

  }

}

.order__category {

  @media ( $tablet ) {
    padding-top: 30px;

    &--color {
      background-color: $footer-bg;
      padding-top: 45px;
      padding-bottom: 10px;
    }

    &--fio {
      margin-top: 20px;
      margin-bottom: 22px;
    }

    &--contacts {
      background-color: $footer-bg;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    &--extra {
      padding-top: 50px;
      padding-bottom: 5px;
    }

  }

}

.order__title-wrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &--color {
    margin-bottom: 25px;
  }

  &--fio {
    margin-bottom: 27px;
  }

  &--contacts {
    margin-bottom: 5px;
  }

  &--extra {
    margin-bottom: 25px;
  }

  @media ( $tablet ) {
    width: 25%;
    align-self: flex-start;
    padding-top: 19px;
  }

  @media ( $desktop ) {
    width: 225/1150*100%;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 60px;

    &--color {
      width: 175/1050*100%;
    }

  }

}

.order__title {
  @include font (17px, 20px, bold, $feature-week);
  text-transform: uppercase;
  position: relative;
  flex-grow: 1;

  &::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 62px;
    right: 0;
    height: 1px;
    background-color: $order-category;
  }

  @media ( $tablet ) {
    flex-grow: 0;

    &::after {
      display: none;
    }

    &--type {
      margin-top: 5px;
    }

  }

}

.order__title--email::after {
  left: 82px;
}

.order__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  &--color {
    margin-bottom: 10px;
  }

  &--fio {
    margin-bottom: 5px;
  }

  &--tel {
    margin-bottom: 32px;
    position: relative;
  }

  &--tel svg {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 25px;
    height: 24px;
  }

  &--email {
    margin-bottom: 30px;
    position: relative;
  }

  &--email svg {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 29px;
    height: 36px;
  }

  &--extra {
    margin-bottom: 15px;
  }

  @media ( $tablet ) {
    flex-grow: 1;

    &--type {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5px;
    }

    &--color {
      flex-direction: row;
      flex-wrap: wrap;
      width: 75%;
      margin-top: 6px;
      justify-content: space-between;
    }

    &--tel {
      width: 75%;
      margin-bottom: 20px;
    }

    &--tel svg {
      top: 10px;
      right: 25px;
    }

    &--email {
      width: 75%;
    }

    &--email svg {
      top: 10px;
      right: 25px;
    }

  }

  @media ( $desktop ) {

    &--tel svg {
      right: 5px;
    }

    &--email svg {
      right: 5px;
    }

    &--color {
      justify-content: flex-start;

      margin-bottom: 15px;
    }

  }

}

.order__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  @media ( $tablet ) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }

}

.order__required {
  @include font (14px, 16px, normal, $contacts-text);
  display: block;
  margin-bottom: 30px;

  @media ( $tablet ) {
    @include font (17px, 30px, normal);
    margin: 0;
  }

}

.order__input--radio,
.order__input--checkbox {
  display: none;
}

.order__field {
  flex-grow: 1;
  @include font (17px, 18px, normal);
  border: 0;
  padding: 15px 0;
  outline: 0;
  border-bottom: 2px solid $catalog-item-name;
  background-color: transparent;

  &--tel {
    padding-right: 45px;
  }

  &--email {
    padding-right: 45px;
  }

  &--extra {
    border: 2px solid $catalog-item-name;
    resize: none;
    padding: 15px;
  }

  &--extra:hover,
  &--extra:focus {
    border: 2px solid $order-category;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $order-category;
  }

  @media ( $tablet ) {
    @include font (19px, 19px, normal);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 70px;
    padding-bottom: 16px;
  }

}

.order__label {
  @include font (17px, 18px, bold);
  position: relative;
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 10px 0;
  padding-left: 63px;
  width: 250px;

  &--color {
    margin-bottom: 23px;
  }

  &:hover::before {
    border-color: $order-category;
  }

  &:active::before {
    border-color: $link-active;
  }

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 0;
    top: 50%;
    margin-top: -20px;
    box-sizing: border-box;
    border: 2px solid $contacts-text;
    border-radius: 50%;
    background-clip: content-box;
    padding: 10px;
  }

  &--color::before {
    padding: 0;
    border-radius: 0;
  }

  &--fio::before {
    display: none;
  }

  &--fio {
    margin: 0;
    padding: 0;
    width: auto;
  }

  @media ( $tablet ) {
    @include font (19px, 20px, bold);
    padding-left: 80px;

    &--type {
      width: auto;
      margin-bottom: 40px;

      padding-top: 15px;
      padding-bottom: 1px;
    }

    &--color {
      margin-bottom: 38px;
      padding-top: 16px;
      padding-bottom: 3px;
      width: 240px;
    }

    &--fio {
      margin-right: 20px;
      padding: 0;
    }

    &::before {
      width: 54px;
      height: 54px;
      top: 50%;
      padding: 15px;
    }

  }

  @media ( $desktop ) {

    &--color {
      width: 263px;
    }

  }

}

.order__input--checkbox:checked + .order__label--color::before {
  background: url("../img/icon-tick.svg") no-repeat center;
}

.order__input--radio:checked + .order__label--type::before {
  background-color: $order-category;
}

.order__field + svg {
  opacity: 0.2;
}

.order__field:hover + svg,
.order__field:focus + svg {
  fill: $order-category;
  opacity: 1;
}

.order__btn {

  @media ( $tablet ) {
    width: 230px;

    margin: -4px 0px -6px;
  }

  @media ( $desktop ) {
    margin-left: 225/1150*100%;
  }

}
