.order__fieldset {
  @include width-mobile;
}


.order__fieldset-name {
  @include f17h16b;
  color: $bg-color-green-1;
}

.radio {}

.radio__input {}

.radio__label {
  @include f17h18b;
}

.checkbox {}

.checkbox__input {}

.checkbox__label {}

.input {
  border-bottom: 2px solid $text-color-black;
  margin-bottom: 18px;
}

.input__label {
  @include f17h18b;
  color: $text-color-black;

  &--name{
    color: $bg-color-green-1;
  }

  &--icon-email {}

}

.input__text {
  @include f17h16;
  color: $text-color-gray-light;
}

.input__textarea {}

.input__notification {}
