.page-catalog {}

.page-catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.page-catalog__title {
  height: 178px;
  background-color: $bg-color-gray;

  @media ( $tablet ) {
    height: 225px;
  }

  @media ( $desktop ) {
    height: 252px;
  }

}

.page-catalog__title-text {
  @include font (27px, 30px, bold);
  text-align: center;
  margin: 74px auto;

  @media ( $tablet ) {
    @include font (43px, 50px, bold);
  }

  @media ( $desktop ) {
    @include font (53px, 57px, bold);
    margin-top: 100px;
  }

}
