.headline {
  background: #f9f9f9;
}

.headline__wrapper {
  background: url("/img/hero-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 283px;
  background-position-x: 50%;
  background-position-y: -16px;

  @media ( $tablet ) {
    // width: 668px;
    width: 768px;
    height: 626px;
  }

  @media ( $desktop ) {
    width: 1050px;
    // height: 626px;
    width: inherit;
    background-size: 768px 746px;
  }

}
