.page-form {

  &__wrapper {}

  &__title {
    height: 178px;
    background-color: $bg-color-gray;
    @include f27h30b;
  }

}

.order {

  &__text {
    @include f13h24;
    color: $text-color-gray-dark;
    @include width-mobile;
    margin-top: 23px;
    margin-bottom: 23px;
  }

}

@media tablet {
  .page-form {

    &__wrapper {
      @include width-tablet;
    }

    &__title {}

  }

  .order {

    &__text {
      @include width-tablet;
    }

  }
}

@media desktop {
  .page-form {

    &__wrapper {
      @include width-desktop;
    }

    &__title {}

  }

  .order {

    &__text {
      @include width-desktop;
    }

  }
}
