.page-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 78px;
  background-color: $bgcolor;
  border-top: 1px solid $feature-table;
  border-bottom: 1px solid $feature-table;

  @media ( $tablet ) {
    border-top: none;
    min-height: 88px;
  }

}

.page-header__logo {
  margin: 0;
  padding: 0;
  font-size: 0;

  & img:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  & img:active {
    opacity: 0.3;
  }

  @media ( $tablet ) {
    position: absolute;
    z-index: 10;
    top: 22px;
    left: 50/768*100%;

    & img {
      width: 113px;
      height: 46px;
    }

  }

  @media ( $desktop ) {
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

    & img {
      width: 149px;
      height: 72px;
    }

  }

}
