.page-form {

  &__wrapper {}

  &__title {
    height: 178px;
    background-color: #f1f1f1;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
  }

}

.order {

  &__text {
    font-size: 13px;
    line-height: 24px;
    color: #767676;
    width: 260px;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 23px;
  }

}
