.page-footer {
  background-color: $bg-color-gray;
}

.page-footer__wrapper {

  @media ( $tablet ) {
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include width-tablet;
  }

  @media ( $desktop ) {
    height: 142px;
    @include width-desktop;
  }

}

.page-footer__logo {
  display: none;

  @media ( $tablet ) {
    // display: inline-block;
    // float: left;
    // margin-top: 20px;
    display: flex;
    width: 103px;
  }

}

.page-footer__logo-mishka {}

.social-links {
  align-items: center;
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: 145px;
  margin: auto;
}

.social-links__item {

  &--ig {}

  &--fb {}

  &--tw {}

}

.page-footer__copyright {
  @include f19h18b;
  width: 260px;
  border-top: 1px solid $bg-color-gray-bottom;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;

  @media ( $tablet ) {
    border: none;
    width: 185px;
  }

}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-footer__copyright-logo {}


// /* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE */
//
// .page-footer__wrapper {
//   outline: 2px solid red;
//   outline-offset: 2px;
// }
//
// .social-links {
//   outline: 2px solid yellow;
//   outline-offset: -2px;
// }
//
// .page-footer__copyright {
//   outline: 2px solid green;
//   outline-offset: -2px;
// }
//
// .page-footer__copyright-link {
//   outline: 2px solid grey;
//   outline-offset: -2px;
// }
//
// .page-footer__copyright-logo {
//   outline: 2px solid purple;
//   outline-offset: -2px;
// }
//
// .social-links__item--ig,
// .social-links__item--fb,
// .social-links__item--tw {
//   outline: 2px solid blue;
//   outline-offset: -2px;
// }
//
// .page-footer__logo {
//   outline: 2px solid orange;
//   outline-offset: -2px;
// }
//
// /* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE */
