.page-form {}

.page-form__wrapper {
  display: flex;
  flex-direction: column;
}

.page-form__title {
  height: 178px;
  background-color: $bg-color-gray;
}

.page-form__title-text {
  @include font (27px, 30px, bold);
  text-align: center;
  margin: 74px auto;
}

.order {}

.order__text {
  @include font (13px, 24px, normal, $text-color-gray-dark);
  @include width-mobile;
  margin-top: 23px;
  margin-bottom: 23px;
}
