.page-header {}

.page-header__wrapper {
  height: 80px;
  display: flex;
  align-items: center;

  @media ( $tablet ) {
    height: 88px;
    @include width-tablet;
  }

  @media ( $desktop ) {
    height: 130px;
    @include width-desktop;
  }

}

.page-header__logo {

  &--mobile {
    display: none;

    @media ( $mobile ) {
      display: block;
      margin-left: 116px;
    }

  }

  &--tablet {
    display: none;

    @media ( $tablet ) {
      display: block;
    }

  }

  &--desktop {
    display: none;

    @media ( $desktop ) {}
  }

}

.main-nav {}

.main-nav__button {
  margin-top: 7px;
  margin-left: 50px;
}

.main-nav__list {
  display: none;
}

// /* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE */
//
// .page-header__wrapper {
//   outline: 2px solid red;
//   outline-offset: 2px;
// }
//
// .page-header__logo,
// .main-nav__button {
//   outline: 2px solid yellow;
//   outline-offset: -2px;
// }
//
// /* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE *//* OUTLINE */
