.page-footer {
  background-color: $footer-bg;
}

.page-footer__inner {
  @include container;
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media ( $tablet ) {
    display: flex;
  }

}

.page-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 0;

  @media ( $tablet ) {
    width: 35%;
    min-height: 143px;
  }

}

.page-footer__item--logo {
  display: none;

  @media ( $tablet ) {
    display: flex;
    justify-content: flex-start;
  }

}

.page-footer__item--logo svg:hover {
  fill: $contacts-link-hover;
}

.page-footer__item--logo svg:active {
  fill: $contacts-link-hover;
  opacity: 0.3;
}

.page-footer__item--social {
  font-size: 0;
  border-bottom: 1px solid $footer-border;
}

.page-footer__item--dev {
  @include font (19px, 20px, bold);

  @media ( $tablet ) {
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
  }

}

.page-footer__social-wrap {
  display: flex;
}

.page-footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    & svg {
      fill: $link-svg;
    }

    &--fb {
      margin: 0 30px;
    }

    &:hover svg {
      fill: $contacts-link-hover;
    }

    &:active svg {
      fill: $contacts-link-hover;
      opacity: 0.3;
    }

}

.page-footer__dev-link {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  color: $catalog-item-name;

  & svg {
    fill: $feature-week;
    width: 27px;
    height: 34px;
  }

  & span {
    margin-right: 30px;
    margin-top: 5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}
