.headline {}

.headline__wrapper {
  background: url('/img/hero-mobile@1x.jpg') no-repeat;
  height: 283px;
  background-position-x: -126px;
  background-position-y: -16px;

  @media ( $desktop ) {
    height: 627px;
  }
}

.headline__title {
  text-align: center;
  padding-top: 74px;
  @include f27h30b;
  @include width-mobile;

  @media ( $tablet ) {
    width: 500px;
    @include f43h50b;
  }

  @media ( $desktop ) {
    width: 620px;
    @include f53h57b;
  }

}

.headline__goods {
  display: flex;
  flex-wrap: wrap;

  @media ( $tablet ) {
    @include width-tablet;
  }

  @media ( $desktop ) {
    @include width-desktop;
  }

}

.headline__item {
  width: 320px;
  height: 103px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &--bg-top {
    background-color: $bg-color-green-1;
  }

  &--bg-bottom {
    background-color: $bg-color-green-2;
  }

  @media ( $tablet ) {
    height: 118px;
    width: 334px;
  }

  @media ( $desktop ) {
    height: 118px;
    width: 525px;
    justify-content: space-between;
  }

}

.headline__text {
  width: 110px;
  color: $bg-color-white;
  @include f19h24b;

  @media ( $tablet ) {
    @include f20h30b;
  }

  @media ( $desktop ) {
    margin-left: 35px;
  }

}

.headline__img {
  opacity: 0.2;
  display: block;
  margin: 0 auto;
}

.headline__img--box {
  width: 63px;
  height: 63px;

  @media ( $desktop ) {
    margin-right: 35px;
  }

}
