.page-catalog {}

.page-catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.page-catalog__title {
  height: 178px;
  background-color: $bg-color-gray;

  @media ( $tablet ) {
    height: 225px;
  }

  @media ( $desktop ) {
    height: 252px;
  }

}

.page-catalog__title-text {
  @include f27h30b;
  text-align: center;
  margin: 74px auto;

  @media ( $tablet ) {
    @include f43h50b;
  }

  @media ( $desktop ) {
    @include f53h57b;
    margin-top: 100px;
  }

}

.catalog {
  @include width-mobile;

  @media ( $tablet ) {
    @include width-tablet;
  }

  @media ( $desktop ) {
    @include width-desktop;
  }

}

.catalog__item {
  margin-top: 30px;

  @media ( $tablet ) {
    display: flex;
  }

}

.catalog__img {

  &-mobile {

    @media ( $tablet ) {
      display: none;
    }

  }

  &-tablet {
    display: none;

    @media ( $tablet ) {
      display: block;
    }

    @media ( $desktop ) {
      display: none;
    }

  }

  &-desktop {
    display: none;

    @media ( $desktop ) {
      display: block;
    }

  }

}

.catalog__item-wrapper {
  border: 1px solid $bg-color-gray-light;
  margin-top: -3px;

  @media ( $tablet ) {
    width: 332px;
    height: 332px;
    margin-top: 0px;
  }

  @media ( $desktop ) {
    width: 315px;
  }

}

.catalog__item-cart {
  @include width-mobile;

  @media ( $tablet ) {
    width: 270px;
  }

}

.catalog__item-name {
  @include f17h24b;
  margin-left: 28px;

  @media ( $tablet ) {
    @include f20h24b;
    margin-left: 0px;
  }

}

.catalog__item-description {
  @include f13h30;
  color: $text-color-gray-dark;
  margin-left: 28px;
  margin-top: -10px;
  padding-bottom: 18px;
  width: 202px;
  border-bottom: 1px solid $bg-color-gray-light;

  @media ( $tablet ) {
    width: 270px;
    @include f15h30;
    margin-left: 0px;
  }

  @media ( $desktop ) {
    width: 255px;
  }

}

.catalog__item-cost {

  @media ( $tablet ) {
    width: 270px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

}

.catalog__item-price {
  @include f15h24b;
  margin-left: 28px;

  @media ( $tablet ) {
    @include f17h24b;
    margin-left: 35px;
  }

}

.video {
  @include width-mobile;
  margin-top: 30px;
  margin-bottom: 58px;
  border: 1px solid $bg-color-gray-light;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media ( $tablet ) {
    @include width-tablet;
    margin-bottom: 65px;
    border: none;
  }

  @media ( $desktop ) {
    @include width-desktop;
  }

}

.video__wrapper {

  @media ( $tablet ) {
    border: 1px solid $bg-color-gray-light;
  }

  @media ( $desktop ) {
    width: 368px;
    height: 455px;
    margin-bottom: 105px;
  }

}

.video__icon {}

.video__name {
  @include f17h24b;
  margin-left: 86px;
  width: 130px;

  @media ( $tablet ) {
    @include f20h24b;
    width: 250px;
  }

  @media ( $desktop ) {
    width: 155px;
  }

}

.video__text {
  @include f13h30;
  margin-left: 35px;

  @media ( $tablet ) {
    @include f15h30;
    margin-left: 40px;
  }

  @media ( $desktop ) {
    margin-left: 80px;
    margin-top: 30px;
  }

}

.video__img {

  &-mobile {

    @media ( $tablet ) {
      display: none;
    }

  }

  &-tablet {
    display: none;

    @media ( $tablet ) {
      display: block;
      margin-top: 55px;
    }

  }

  &-desktop {
    display: none;
  }

}
