.page-footer {

  &__wrapper {
    background-color: $bg-color-gray;
  }

  &__logo {
    display: none;
  }

  &__copyright {
    @include f19h18b;
  }

  &__htmlacademy-logo {
    fill: $bg-color-green-1;
  }

}

.social-links {
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $bg-color-gray-bottom;
}

@media tablet {
  .page-footer {

    &__wrapper {
      @include width-tablet;
    }

    &__logo {
      display: block;
    }

    &__copyright {}

    &__htmlacademy-logo {}

  }

  .social-links {}

}

@media desktop {
  .page-footer {

    &__wrapper {
      @include width-desktop;
    }

    &__logo {
      display: block;
    }

    &__copyright {}

    &__htmlacademy-logo {}

  }

  .social-links {}

}
