.pop-goods {

  &__wrapper {
    @include width-mobile;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 20px;
    @include f25h30b;
  }

  &__subtitle {
    margin-top: -17px;
    text-transform: uppercase;
    color: $bg-color-green-1;
    @include f17h20b;
  }

  &__text {
    @include f15h24;
    color: $text-color-gray-dark;
  }

  &__table {
    margin-bottom: 20px;
  }

  &__row {
    height: 40px;
    border-bottom: 1px solid $bg-color-gray-table;
  }

  &__data-left {
    width: 98px;
  }

  &__data-right {
    width: 162px;
  }

  &__price {
    @include f17h24b;
    color: $text-color-gray-dark;
    text-align: center;
    margin: 28px auto;
  }

  &__img {

    &-mobile {}

    &-tablet {
      display: none;
    }

    &-desktop {
      display: none;
    }

  }

}

@media (min-width: 768px) {
  .pop-goods {

    &__wrapper {
      @include width-tablet;
    }

    &__title {
      margin-top: 55px;
    }

    &__subtitle {}

    &__text {}

    &__table {}

    &__row {}

    &__data-left {}

    &__data-right {}

    &__price {}

    &__img {

      &-mobile {
        display: none;
      }

      &-tablet {
        display: block;
      }

      &-desktop {
        display: none;
      }

    }

  }

}

@media (min-width: 1200px) {
  .pop-goods {

    &__wrapper {
      @include width-desktop;
    }

    &__title {
      margin-top: 55px;
    }

    &__subtitle {}

    &__text {}

    &__table {}

    &__row {}

    &__data-left {}

    &__data-right {}

    &__price {}

    &__img {

      &-mobile {
        display: none;
      }

      &-tablet {
        display: none;
      }

      &-desktop {
        display: block;
      }

    }

  }

}
