.reviews {

  @media ( $tablet ) {
    background: url("/img/review@1x.jpg") no-repeat;
    background-position-y: 63px;
    background-size: 350px 457px;
  }

  @media ( $desktop ) {
    background-position-x: 25px;
  }

}

.reviews__wrapper {
  @include width-mobile;

  @media ( $tablet ) {
    @include width-tablet;
    padding-top: 100px;
    padding-bottom: 42px;
  }

  @media ( $desktop ) {
    @include width-desktop;
  }

}

.reviews__quote {
  width: 260px;
  margin: 0 auto;

  @media ( $tablet ) {
    width: 668px;
  }

  @media ( $desktop ) {
    width: 875px;
  }

}

.reviews__title {
  @include font (25px, 30px, bold);

  @media ( $tablet ) {
    @include font (43px, 50px, bold);
  }

  @media ( $desktop ) {
    @include font (53px, 57px, bold);
    margin-left: 175px;
  }

}

.reviews__text {
  @include font (15px, 30px, normal, $text-color-gray-dark);
  margin: 40px auto;

  @media ( $tablet ) {
    @include font (17px, 30px);
    margin: 50px auto;
  }

  @media ( $desktop ) {
    margin-left: 100px;
  }

}

.reviews__author-name {
  @include font (17px, 20px, bold);
  font-style: normal;
  margin-bottom: 20px;

  @media ( $desktop ) {
    margin-left: 100px;
  }

}

.reviews__author-contact {
  font-size: 17px;
  font-style: normal;

  @media ( $desktop ) {
    margin-left: 100px;
  }

}

.reviews__toggle {
  margin-top: 36px;

  @media ( $tablet ) {
    float: right;
    margin-top: -70px;
    width: 167px;
  }

}

.reviews__toggle-item {
  width: 130px;
  height: 52px;
  border: 1px solid $bg-color-gray-table;
  background-color: $bg-color-white;
  border-collapse: collapse;

  @media ( $tablet ) {
    border: none;
  }

  &--prev {

    @media ( $tablet ) {
      width: 83px;
    }

  }

  &--next {
    margin-left: -5px;

    @media ( $tablet ) {
      width: 83px;
    }

  }

}

.reviews__toggle-img {
  margin: 10px;
  width: 50px;
  height: 26px;

  @media ( $tablet ) {
    margin: 11px;
  }

}
