.reviews {

  @media ( $tablet ) {
    background: url(/img/review@1x.jpg) no-repeat;
    background-position-y: 63px;
  }

  @media ( $desktop ) {
    background: url(/img/review@1x.jpg) no-repeat;
    background-position-y: 63px;
  }

}

.reviews__wrapper {
  @include width-mobile;

  @media ( $tablet ) {
    @include width-tablet;
    padding-top: 100px;
    padding-bottom: 42px;
  }

  @media ( $desktop ) {
    @include width-desktop;
  }

}

.reviews__title {
  @include f25h30b;

  @media ( $tablet ) {
    @include f43h50b;
  }

  @media ( $desktop ) {
    @include f53h57b;
    margin-left: 175px;
  }

}

.reviews__text {
  @include f15h30;
  color: $text-color-gray-dark;
  margin: 40px auto;

  @media ( $tablet ) {
    @include f17h30;
    margin: 50px auto;
  }

  @media ( $desktop ) {
    margin-left: 175px;
  }

}

.reviews__author-name {
  @include f17h20b;

  @media ( $desktop ) {
    margin-left: 175px;
  }

}

.reviews__author-contact {
  font-size: 17px;

  @media ( $desktop ) {
    margin-left: 175px;
  }

}

.reviews__toggle {
  margin-top: 36px;

  @media ( $tablet ) {
    float: right;
    margin-top: -70px;
    width: 167px;
  }

}

.reviews__toggle-item {
  width: 130px;
  height: 52px;
  border: 1px solid $bg-color-gray-table;
  background-color: $bg-color-white;
  border-collapse: collapse;

  @media ( $tablet ) {
    border: none;
  }

  &--prev {

    @media ( $tablet ) {
      width: 83px;
    }

  }

  &--next {
    margin-left: -5px;

    @media ( $tablet ) {
      width: 83px;
    }

  }

}

.reviews__toggle-img {
  margin: 10px;

  @media ( $tablet ) {
    margin: 11px;
  }

}
