.video {
  margin-bottom: 60px;

  @media ( $tablet ) {
    margin-bottom: 65px;
  }

}

.video__inner {
  @include container;
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media ( $desktop ) {
    margin-bottom: 100px;
    position: relative;
  }

}

.video__wrap {
  margin: 0 auto;

  @media ( $desktop ) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    position: relative;
  }

}

.video__inner-wrap {
  border: 1px solid $feature-table;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  }

  @media ( $tablet ) {
    display: flex;
    flex-direction: column;
  }

  @media ( $desktop ) {
    min-height: 455px;
    width: 35%;
    padding-left: 75px;
    padding-right: 60px;
    box-sizing: border-box;
    font-size: 0;
  }

}

.video__title-wrap {
  display: flex;
  padding: 24px 30px;
  align-items: center;
  box-sizing: border-box;

  @media ( $tablet ) {
    padding: 20px 40px;
  }

  @media ( $desktop ) {
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 45px;
  }

}

.video__title-img {
  width: 32px;
  height: 32px;
  margin-right: 25px;

  @media ( $tablet ) {
    margin-right: 30px;
  }

}

.video__title-text {
  @include font (17px, 24px, bold);
  margin: 0;

  @media ( $tablet ) {
    @include font (20px, 24px, bold);
  }

  @media ( $desktop ) {
    padding-top: 20px;
    padding-bottom: 28px;
  }

}

.video__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 260px;
  margin: 0 auto;
  background-color: $bgcolor;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px;

  @media ( $mobile-retina ) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px;
  }

  @media ( $tablet ) {
    order: -1;
    width: 100%;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px;
    background-position: center;
    margin-bottom: 15px;

    @media ( $tablet-retina ) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px;
    }

  }

  @media ( $desktop ) {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 455px;
    background-color: $feature-table;
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 682px;

    @media ( $desktop-retina ) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px;
    }

  }

}

.video__block-play {
  width: 102px;
  height: 77px;
}

.video__block-play-btn {
  background: none;
  border: none;
  outline: 0;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }

}

.video__desc-wrap {
  padding-left: 32px;
  padding-right: 35px;

  @media ( $tablet ) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media ( $desktop ) {
    box-sizing: border-box;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

}

.video__desc-text {
  @include font (13.8px, 24px, normal, $contacts-text);
  margin-top: 30px;
  margin-bottom: 22px;

  @media ( $tablet ) {
    @include font (15px, 30px, normal);
    margin-top: 5px;
  }

}

.video__btn {
  margin-bottom: 30px;

  @media ( $tablet ) {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  @media ( $desktop ) {
    margin-top: auto;
    margin-bottom: 60px;
  }

}
